body,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,select,td,textarea,th,ul{
	margin:0;
	padding:0
}
body,html{
	width:100%;
}
table{
	border-collapse:collapse;
}
body{
	font-family:Microsoft YaHei;
	font:12px/1.5 Microsoft YaHei,arial,helvetica,sans-serif;
	font-style:normal;
	-webkit-font-feature-settings:normal;
	font-feature-settings:normal;
	font-variant:normal;
	font-weight:400;
	font-stretch:normal;
	font-size:12px
}
li,ul{
	list-style:none;
}
a{
	text-decoration:none;
}
button,input,submit,textarea{
	outline:none;
	box-shadow:none;
	font-weight:400;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content:".";
	width:0;
	height:0;
	visibility:hidden;
	display:block;
	clear:both
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.tl{
	text-align:left;
}
.tc{
	text-align:center;
}.tr{
	text-align:right;
}
.ellipse{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
img{
	border:0;
}
em,i,strong{
	font-style:normal;
}
#header{
	height:64px;
	width:100%;
}
#header .header{
	height:64px;
	width:1200px;
	margin:0 auto;
}
#header .fych-logo{
	float:left;
	height:64px;
}
#header .fych-logo .logo{
	display:block;
	height:64px;
}
#header .fych-logo .logo .logo-img{
	display:block;height:100%;
}
#header .fych-top{
	float:right;
	height:64px;
}
#header .fych-top .top-tel{
	float:right;
	width:154px;
	height:100%;
	padding-left:10px;
	background:url(//sta.guazistatic.com/xinche_web/images/tel-dark.df921f1e.png) no-repeat right 53%;
	background-size:148px 22px;
}
#header .fych-top .top-shu{
	float:right;height:100%;
	line-height:64px;
}
#header .fych-top .top-shu i{
	display:inline-block;
	width:1px;
	height:25px;
	background:#8d91ac;
	vertical-align:middle;
	opacity:.5;
}
#header .fych-top .top-nav{
	float:right;height:100%;
	padding-right:25px;
	max-width:950px;
}
#header .fych-top .top-nav .nav-item{
	float:left;
	height:100%;
	padding:0 20px;
}
#header .fych-top .top-nav .nav-item:last-child{
	padding-right:0;
}
#header .fych-top .top-nav .nav-item .item{
	display:inline-block;
	position:relative;
	height:61px;
	border-bottom:3px solid transparent;
	line-height:68px;
	font-size:16px;
	color:#3f4359;
	text-align:center;
}
#header .fych-top .top-nav .nav-item .item.active,#header .fych-top .top-nav .nav-item .item:hover{
	color:#ff7414;
}
#header .fych-top .top-nav .nav-item .item.active:after{
	content:"";
	position:absolute;
	left:50%;
	top:0;
	width:22px;
	height:3px;
	margin-left:-11px;
	margin-top:61px;
	background:#ff7414;
}
#header .fych-top .top-nav .nav-item .h-qrcode{
	display:none;
	position:absolute;
	left:50%;
	top:40px;
	width:184px;
	height:222px;
	margin-left:-92px;
	padding-top:38px;
	text-align:center;
	opacity:0;
	z-index:10;
	-webkit-transition:opacity .2s linear;
	transition:opacity .2s linear;
}
#header .fych-top .top-nav .nav-item .h-qrcode .code-wrap{
	position:relative;
	width:184px;
	height:196px;
	padding-top:26px;
	background:#fff;
	box-shadow:0 0 6px 0 rgba(63,67,89,.15);
}
#header .fych-top .top-nav .nav-item .h-qrcode .code-wrap:before{
	content:"";
	position:absolute;
	top:-7px;
	left:50%;
	margin-left:-7px;
	width:14px;
	height:14px;
	background:#fff;
	box-shadow:-1px -1px 2px -1px rgba(63,67,89,.15);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
#header .fych-top .top-nav .nav-item .h-qrcode .code-img img{
	display:inline-block;
	width:124px;
	height:124px;
	vertical-align:middle;
}
#header .fych-top .top-nav .nav-item .h-qrcode .title{
	margin-top:15px;
	font-size:14px;
	color:#3f4359;
	line-height:18px;
}
#header .fych-top .top-nav .nav-item .h-qrcode .desc{
	font-size:14px;
	color:#3f4359;
	line-height:18px;
}
#header .fych-top .top-nav .user-center .item{
	width:32px;
	background:url(//sta.guazistatic.com/xinche_web/images/profiel.01310c65.png) no-repeat 50%;
}
#header[data-color="2"] .fych-top .top-tel{
	background-image:url(//sta.guazistatic.com/xinche_web/images/tel-light.36d728fa.png);
}
#header[data-color="2"] .fych-top .top-shu i{
	background:#fff;
}
#header[data-color="2"] .fych-top .top-nav .nav-item .item,#header[data-color="2"] .fych-top .top-nav .nav-item .item.active,#header[data-color="2"] .fych-top .top-nav .nav-item .item:hover{
	color:#fff;
}
#header[data-color="2"] .fych-top .top-nav .nav-item .item.active:after{
	background:#fff;
}
#foot{
	width:100%;
	background:#3f4359;
}
#foot .foot{
	width:1200px;
	margin:0 auto;
	padding:40px 0;
}
#foot .foot .about-us{
	height:130px;
	overflow:hidden;
}
#foot .foot .foot-box{
	float:left;
	color:#fff;
}
#foot .foot .logo{
	min-width:200px;
}
#foot .foot .logo .logo-img{
	display:block;
	margin-top:-6px;
}
#foot .foot .logo .site-info{
	margin-top:35px;
}
#foot .foot .qrcode{
	margin-left:156px;
}
#foot .foot .qrcode .qrcdoe-item{
	float:left;
	width:108px;
	height:130px;
	margin-right:40px;
	background:#fff;
}
#foot .foot .qrcode .ewm{
	height:108px;
	width:108px;
	padding:6px;
	box-sizing:border-box;
}
#foot .foot .qrcode .ewm img{
	width:100%;
	height:100%;
	vertical-align:middle;
}
#foot .foot .qrcode .ewm-txt{
	padding-bottom:6px;
	font-size:12px;
	color:#3f4359;
	text-align:center;
	line-height:16px;
}
#foot .foot .tel{
	float:right;
	text-align:right;
}
#foot .foot .tel .tel-num{
	font-size:32px;
	font-weight:500;
	color:#fff;
	line-height:27px;
}
#foot .foot .tel .tel-num i{
	margin:0 4px;
	vertical-align:2px;
}
#foot .foot .tel .text{
	margin-top:4px;
	font-size:16px;
	color:#8d90ac;
	line-height:22px;
}
#foot .foot .tel .site-info{
	margin-top:38px;
}
#foot .foot .site-info{
	font-size:12px;
	color:#8d90ac;
}
#foot .foot .site-info .address{
	margin-top:3px;
}
#foot .foot .site-info .beian{
	margin-top:3px;
	padding-left:16px;
	background:url(//sta.guazistatic.com/xinche_web/images/icon_beian.d0289dc0.png) no-repeat left 1px;
	background-size:12px 13px;
}
#foot .foot .site-info .beian .beian-link{
	font-size:12px;
	color:#8d90ac;
}
#booking-car{
	display:inline-block;
}
#booking-car .section-title{
	font-size:22px;
	font-weight:400;
	color:#5b5e7b;
	line-height:30px;
	text-align:center;
}
#booking-car .phone-area{
	position:relative;
	width:599px;
	height:54px;
	margin:18px auto 0;
}
#booking-car .phone-area.err .phone-input{
	border-color:#e7372d;
	color:#e7372d;
}
#booking-car .phone-area .phone-input{
	float:left;
	width:453px;
	height:100%;
	padding:15px 18px 14px;
	box-sizing:border-box;
	line-height:25px;
	color:#3f4359;
	font-size:18px;
	background:#fff;
	box-shadow:0 -1px 8px 0 rgba(63,67,89,.04);
	border-radius:2px 0 0 2px;
	border:1px solid #fff;
}
#booking-car .phone-area .phone-input::-webkit-input-placeholder{
	color:#8d91ac;
}
#booking-car .phone-area .phone-btn{
	float:right;
	width:146px;
	height:100%;
	background-image:-webkit-linear-gradient(left,#ff7414,#fb4a14);
	background-image:linear-gradient(90deg,#ff7414,#fb4a14);
	box-shadow:0 -1px 8px 0;
	border:none;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	outline:none;
}
#booking-car .phone-area .phone-btn:hover{
	box-shadow:0 0 10px 0 rgba(251,116,20,.4);
}
#booking-car .phone-area .js-phone-wrong{
	position:absolute;
	font-size:14px;
	color:#ff411b;
	display:none;
	line-height:20px;
	top:12px;
	left:15px;
}
.booking-popup{
	display:none;
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
	z-index:1500;
}
.booking-popup .popup-bak{
	width:100%;
	height:100%;
	background:#3f4359;
	opacity:.3;
}
.booking-popup .content{
	position:absolute;
	left:50%;
	top:50%;
	width:380px;
	height:276px;
	margin-left:-190px;
	margin-top:-138px;
	padding:120px 20px 20px;
	box-sizing:border-box;
	background:url(//sta.guazistatic.com/xinche_web/images/booking-succ.3d01427e.png) no-repeat center 60px #fff;
}
.booking-popup .content .res{
	margin-top:16px;
	font-size:24px;
	color:#3f4359;
	text-align:center;
	line-height:33px;
}
.booking-popup .content .desc{
	margin-top:6px;
	padding:0 32px;
	font-size:16px;
	color:#8d91ac;
	text-align:center;
	line-height:22px;
}
.booking-popup .content .closed-btn{
	position:absolute;
	top:20px;
	right:20px;
	width:20px;
	height:20px;
	background:url(//sta.guazistatic.com/xinche_web/images/booking-closed.8ec5a51a.png) no-repeat 50%;
}
body{
	background:#f9f9fc;
}
.top{
	width:100%;
	background:#fff;
	box-shadow:0 1px 2px 0 rgba(63,67,89,.08),inset 0 -1px 0 0 #ececf2;
}
.main{
	width:100%;
	overflow:hidden;
}
.main .wrapper{
	position:relative;
	width:1200px;
	margin:0 auto;
	padding-top:20px;
	clear:both;
}
.main .wrapper .wrapper-r{
	float:right;
	width:895px;
}
.main .wrapper .wrapper-r .list-empty{
	margin:20px 0 40px;
	background:#fff;
}
.main .wrapper .wrapper-r .book-content{
	padding:30px 0 107px;
	text-align:center;
}
#booking-car h2{
	font-size:20px;
	color:#5b5e7b;
	line-height:28px;
}
#booking-car .phone-area{
	width:470px;
	height:44px;
}
#booking-car .phone-area .phone-input{
	width:350px;
	padding:11px 14px;
	border:1px solid #c6c8d6;
	border-right:none;
}
#booking-car .phone-area .phone-btn{
	width:120px;
	font-size:18px;
	line-height:25px;
}
#side-menu{
	float:left;
	width:270px;
	background:#fff;
	box-shadow:0 2px 15px 0 rgba(63,67,89,.02);
	z-index:100;
}
#side-menu .menu-list{
	padding-bottom:25px;
}
#side-menu .menu-item{
	position:relative;
}
#side-menu .menu-item:hover.brand{
	box-shadow:0 2px 5px 0 rgba(63,67,89,.1);
	border-radius:1px;
}
#side-menu .menu-item:hover.brand .sub-menu{
	display:block;
	box-shadow:0 2px 5px 0 rgba(63,67,89,.1);
}
#side-menu .menu-item:hover.brand .sub-menu:after{
	content:"";
	position:absolute;
	left:-10px;
	top:0;
	width:20px;
	height:100%;
	max-height:114px;
	background:#fff;
}
#side-menu .menu-item.brand .item-name:after{
	content:"";
	float:right;
	width:18px;
	height:18px;
	margin-right:-6px;
	background:url(//sta.guazistatic.com/xinche_web/images/arrow-more.3cf8e8d0.png) no-repeat 100%;
}
#side-menu .menu-item.brand .item-list .item-icon{
	width:25%;
}
#side-menu .menu-item.brand .item-list .item-icon:nth-child(4n+1){
	text-align:left;
}
#side-menu .menu-item.brand .item-list .item-icon:nth-child(4n+4){
	text-align:right;
}
#side-menu .menu-item.prePay .item-icon,#side-menu .menu-item.price .item-icon{
	width:33.33%;
}
#side-menu .menu-item.prePay .item-icon:nth-child(3n+1),#side-menu .menu-item.price .item-icon:nth-child(3n+1){
	text-align:left;
}
#side-menu .menu-item.prePay .item-icon:nth-child(3n+3),#side-menu .menu-item.price .item-icon:nth-child(3n+3){
	text-align:right;
}
#side-menu .menu-item.monthPay .item-icon,#side-menu .menu-item.monthPay .item-list{
	padding:0 10px;
}
#side-menu .menu-item .item-name{
	padding:20px 20px 22px;
	font-size:16px;
	font-weight:500;
	color:#3f4359;
	line-height:16px;
}
#side-menu .menu-item .item-list{
	padding:0 20px;
}
#side-menu .menu-item .item-icon{
	float:left;
	margin-bottom:14px;
	text-align:center;
	line-height:14px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
#side-menu .menu-item .item-icon.focus .icon{
	color:#ff7414;
	cursor:default;
}
#side-menu .menu-item .item-icon .icon{
	font-size:14px;
	color:#3f4359;
	line-height:14px;
}
#side-menu .menu-item .item-icon .icon:hover{
	color:#ff7414;
}
#side-menu .menu-item .sub-menu{
	display:none;
	position:absolute;
	top:0;
	left:270px;
	width:360px;
	padding:17px 26px 26px 20px;
	background:#fff;
	box-sizing:border-box;
	border-radius:1px;
	z-index:10;
}
#side-menu .menu-item .sub-menu .sub-wrap{
	overflow:hidden;
}
#side-menu .menu-item .sub-menu .sub-list{
	margin-left:-1px;
}
#side-menu .menu-item .sub-menu .sub-item{
	float:left;
	position:relative;
	padding:0 10.5px;
	font-size:14px;
	color:#3f4359;
	line-height:32px;
	text-align:center;
}
#side-menu .menu-item .sub-menu .sub-item.focus{
	color:#ff7414;
	cursor:default;
}
#side-menu .menu-item .sub-menu .sub-item:hover{
	color:#ff7414;
}
#side-menu .menu-item .sub-menu .sub-item:after{
	content:"";
	position:absolute;
	left:0;
	top:50%;
	width:1px;
	height:10px;
	margin-top:-5px;
	background:#c6c8d6;
}
#modles-sort{
	width:893px;
	background:#fff;
	border:1px solid #ececf2;
}
#modles-sort .sort-bar{
	float:left;
	padding-left:5px;
}
#modles-sort .sort-bar .btn{
	float:left;
	height:58px;
	padding:0 30px 0 15px;
	font-size:16px;
	color:#3f4359;
	line-height:60px;
	background:url(//sta.guazistatic.com/xinche_web/images/arrow-m.0216e8e9.png) no-repeat 77% 24px;
}
#modles-sort .sort-bar .btn.def{
	padding:0 15px;;
	background:none;
}
#modles-sort .sort-bar .btn.low{
	color:#ff7414;
	background:url(//sta.guazistatic.com/xinche_web/images/arrow-low.5cd40999.png) no-repeat 77% 24px;
}
#modles-sort .sort-bar .btn.high{
	color:#ff7414;
	background:url(//sta.guazistatic.com/xinche_web/images/arrow-high.94db265d.png) no-repeat 77% 24px;
}
#filter-bar{
	height:59px;
	border:1px solid #ececf2;
	border-top:none;
}
#filter-bar .filter-name{
	float:left;
	height:100%;
	padding-left:20px;
	font-size:16px;
	color:#3f4359;
	line-height:59px;
}
#filter-bar .filter-list{
	float:left;
	height:100%;
	padding-left:6px;
	line-height:61px;
}
#filter-bar .filter-list .item{
	float:left;
	margin:18px 7px 0;
	padding:2px 27px 2px 9px;
	background:url(//sta.guazistatic.com/xinche_web/images/icon-close.5de5b2f5.png) #fff no-repeat 94%;
	border:1px solid #ececf2;
	font-size:14px;
	color:#3f4359;
	line-height:20px;
}
#filter-bar .filter-list .item.reset{
	float:right;margin:18px 7px 0 0;
	padding-left:7px;
	padding-right:7px;
	background:none;
	border:1px solid transparent;
}
#filter-bar .filter-list .item:hover{
	background-image:url(//sta.guazistatic.com/xinche_web/images/icon-close-active.e418143a.png);
	color:#ff7414;
	border:1px solid #ff7414;
}
#filter-bar .filter-list .item:hover.reset{
	background:none;
	border:1px solid transparent;
}
#models-list{
	margin-top:20px;
}
#models-list .list-wrap{
	min-height:557px;
	margin-right:-20px;
	padding-bottom:20px;
}
#models-list .car-item{
	float:left;
	position:relative;
	width:285px;
	height:298px;
	margin-right:20px;
	margin-bottom:20px;
	background:#fff;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	-webkit-transition:-webkit-transform .2s linear;
	transition:-webkit-transform .2s linear;
	transition:transform .2s linear;
	transition:transform .2s linear,-webkit-transform .2s linear;
}
#models-list .car-item:hover{
	-webkit-transform:translate3d(0,-2px,0);
	transform:translate3d(0,-2px,0);
}
#models-list .car-item:hover:after{
	opacity:1;
}
#models-list .car-item:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	box-shadow:0 2px 12px 0 rgba(63,67,89,.15);
	opacity:0;z-index:-10;
}
#models-list .car-item .car-photo{
	display:block;
	height:183px;
}
#models-list .car-item .car-photo img{
	display:block;
	width:100%;
	height:100%;
}
#models-list .car-item .car-detail{
	padding:12px 20px 0;
}
#models-list .car-item .car-detail .car-info{
	font-weight:inherit;
}
#models-list .car-item .car-detail .car-info .info{
	display:block;
	height:44px;
	font-size:16px;
	color:#3f4359;
	line-height:22px;
	text-align:justify;
	-webkit-box-orient:vertical;
	display:-webkit-box;
	-webkit-line-clamp:2;
	text-overflow:ellipsis;
	overflow:hidden;
	word-break:break-all;
}
#models-list .car-item .car-detail .car-price{
	height:30px;
	margin-top:5px;
	overflow:hidden;
}
#models-list .car-item .car-detail .car-price .pre-price{
	float:left;
	font-size:14px;
	color:#ff7414;
	line-height:30px;
}#models-list .car-item .car-detail .car-price .pre-price .hot{
	font-size:22px;
	font-weight:500;
	font-style:normal;
	vertical-align:baseline;
}
#models-list .car-item .car-detail .car-price .for-month{
	float:right;
	font-size:14px;
	color:#8d91ac;
	line-height:37px;
}
#models-list .car-item .info-status{
	position:absolute;
	top:0;
	left:0;
	width:72px;
	height:72px;
}
#models-list .car-item .info-status.s-new{
	background:url(//sta.guazistatic.com/xinche_web/images/car-tag-1.9ea6c9a1.png) no-repeat 50%;
}
#models-list .car-item .info-status.s-pop{
	background:url(//sta.guazistatic.com/xinche_web/images/car-tag-2.60114afd.png) no-repeat 50%;
}
#models-list .car-item .info-status.s-hot{
	background:url(//sta.guazistatic.com/xinche_web/images/car-tag-3.3922b33a.png) no-repeat 50%;
}
#models-list .car-item .info-status.s-zero{
	background:url(//sta.guazistatic.com/xinche_web/images/car-tag-4.9200e9db.png) no-repeat 50%;
}
#models-list .car-item .info-status.s-supply{
	background:url(//sta.guazistatic.com/xinche_web/images/car-tag-5.c693d527.png) no-repeat 50%;
}
#gz-pagination{
	width:100%;
	height:38px;
	margin-bottom:40px;
	text-align:center;
}
#gz-pagination .wrap{
	display:inline-block;
	white-space:nowrap;
}
#gz-pagination .wrap .page-num{
	display:inline-block;
	width:34px;
	height:36px;
	margin:0 5px;
	background-color:#fff;
	font-size:16px;
	color:#8d91ac;
	line-height:38px;
	border:1px solid #ececf2;
	border-radius:2px;
	overflow:hidden;
	vertical-align:middle;
}
#gz-pagination .wrap .page-num.active,#gz-pagination .wrap .page-num:hover{
	background-color:#ff7414;
	color:#fff;
	border:1px solid #ff7414;
}
#gz-pagination .wrap .prePage{
	background:url(//sta.guazistatic.com/xinche_web/images/pagination-left.3f10b0d7.png) #fff no-repeat 50%;
}
#gz-pagination .wrap .prePage.n{
	background-image:url(//sta.guazistatic.com/xinche_web/images/pagination-left-null.e6fd1b14.png);
}
#gz-pagination .wrap .nextPage{
	background:url(//sta.guazistatic.com/xinche_web/images/pagination-right.3cf8e8d0.png) #fff no-repeat 50%;
}
#gz-pagination .wrap .nextPage.n{
	background-image:url(//sta.guazistatic.com/xinche_web/images/pagination-right-null.682ed31c.png);
}
.result-content{
	width:895px;
	padding:230px 0 42px;
	background:url(//sta.guazistatic.com/xinche_web/images/nocar.475e53f2.png) #fff no-repeat center 90px;
}
.result-content .desc{
	font-size:20px;
	color:#5b5e7b;
	line-height:28px;
	text-align:center;
}
