*{font: 12px/1.5 PingFang SC,Microsoft YaHei,arial,helvetica,sans-serif;}
.head{width: 100%;height:64px;}

.nav{
	width: 1200px;height:65px;
	position: relative;top: 0px;z-index: 8px;left: 77px;right: 50px;
}
.nav-1{width: 64px;height: 64px;float: left;
    background-position: -181px -32px;
    background-image: url(../img/m-4.png);
}
.nav-2{
width: 63px;float: left;height: 34px;padding: 0 15px;margin: 17px 0 0 15px;
    border-radius: 2px;border: 2px solid transparent;background: transparent;
}
.phone{float: right;font-family: arial,helvetica,sans-serif;
	width: 172px;height: 24px;margin-top: 28px;color: #22ac38;font-weight: 700;line-height: 24px;
	text-align: right;border-left: 1px solid #888;font-size:24px;
}
.login{width: 50px ;height: 24px;float: right;font-size: 14px;line-height: 24px;color:#888;
	margin-top:26px;margin-right: 30px;background-image: url(../img/m-4.png);
	background-position:0px -235px ;text-align: right;
}
.login>a{color: #888;text-decoration: none;}
.nav-nav{width: 700px;height: 58px;
	float: right;margin-right: 30px;
	margin-top: 7px;line-height: 58px;text-align: right;
}
.nav-nav>a{text-decoration: none;font-size: 14px;
	color:#888;margin: 0 10px;line-height: 58px;padding-bottom: 15px;
}
/****内容***/
.main-con {
    width: 1200px;
    margin: 0 auto;
}
.sell-area {
    width: 1200px;
    height: 350px;
}
.slogan-1{
    color: #fff;
    text-align: center;
    font-size: 44px;
    line-height: 80px;
    padding-top: 50px;
}
.slogan-2 {
    font-size: 18px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}
.phone-area {
    position: relative;
    z-index: 5;
    width: 975px;
    height: 56px;
    padding-top: 38px;
    padding-left: 225px;
}
.phone-input {
    width: 408px;
    height: 18px;
    padding: 19px 15px;
    line-height: 18px;
    color: #495056;
    font-size: 18px;
    background: #fff;
    float: left;
    font-family: microsoft yahei;
    border: none;
}
.phone-btn-1:hover, .phone-btn-2:hover {
    background: #179500;
}
.phone-btn-1 {
    background: #22ac38;
    margin-right: 15px;
}
.phone-btn-1, .phone-btn-2 {
    width: 148px;
    height: 56px;
    font-size: 20px;
    color: #fff;
}
.phone-btn-1, .phone-btn-2, .phone-input {
    float: left;
    font-family: microsoft yahei;
    border: none;
}
.phone-btn-2:hover {
    background: #179500;
}
.phone-btn-2{
    background: #66C675;
}
.new-car-entr {
    width: 400px;
    height: 26px;
    line-height: 26px;
    margin: 30px auto;
    font-size: 18px;
    color: #fff;
    padding-left: 34px;
    background-position: -400px -130px;
    background-image: url(../img/icon.58c25cd4251a0c0cda5d9166a5b6c6d9.png);
    background-repeat: no-repeat;
}
.new-car-entr a {
    color: #fff;
    font-size: 18px;
}
.sell-ser {
    width: 1200px;
    height: 258px;
    background: #fff;
}
.sell-ser li {
    width: 300px;
    float: left;
}
.ser-icon {
    position: relative;
    display: block;
    width: 140px;
    height: 132px;
    margin: 12px auto 0;
}
.sell-ser p {
    font-size: 16px;
    color: #a5abb2;
    line-height: 32px;
    text-align: center;
}
.sell-ser span {
    font-size: 20px;
    color: #495056;
    display: block;
}
.ser-icon {
    position: relative;
    display: block;
    width: 140px;
    height: 132px;
    margin: 12px auto 0;
}
.ser-icon em.icon-1-1 {
    background-position: 0 0;
}
.ser-icon em {
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    width: 110px;
    height: 110px;
}
.ser-icon em {
    background-image: url(../img/icon.58c25cd4251a0c0cda5d9166a5b6c6d9.png);
    background-repeat: no-repeat;
}
.ser-icon em.icon-1-2 {
    background-position: -110px 0;
}
.ser-icon em.icon-2-1 {
    background-position: 0 -110px;
}
.ser-icon em.icon-3-1 {
    background-position: -330px 0;
}
.ser-icon em.icon-3-2 {
    background-position: -220px 0;
}
.ser-icon em.icon-4-1 {
    background-position: -110px -110px;
}
.ser-icon em.icon-4-2 {
    background-position: -220px -110px;
}

.recent-deal {
    width: 1160px;
    padding: 0 20px;
}
.con-tit {
    padding: 33px 0 40px;
}
.con-tit h2, .con-tit p {
    color: #495056;
    text-align: center;
}
.con-tit h2 {
    font: normal 24px/44px Microsoft YaHei;
}
.con-tit i {
    display: block;
    width: 28px;
    height: 3px;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    background: #22ac38;
}
.deal-list {
    position: relative;
    top: -15px;
    width: 1160px;
    margin: 0 auto;
    overflow: hidden;
}
.deal-list-wrapper {
    width: 99999px;
    position: relative;
}

.deal-list li {
    position: relative;
    float: left;
    top: 15px;
    width: 270px;
    height: 300px;
    margin: 0 10px 34px;
}
.deal-list img {
    display: block;
    width: 270px;
    height: 180px;
}
.deal-p1 {
    font: normal 16px/30px Microsoft YaHei;
    color: #495056;
    padding-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.deal-p2, .deal-p3 {
    font-size: 14px;
    line-height: 30px;
}
.deal-p2 {
    color: #a5abb2;
}
.deal-p3 {
    color: #495056;
}
.deal-p3 em, .deal-p3 i {
    color: #f95523;
}
.deal-p3 em {
    font-size: 20px;
    margin-left: 4px;
}
.deal-day {
    position: absolute;
    top: -5px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-position: -330px -130px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    padding-top: 7px;
}
.deal-day em {
    font-size: 14px;
}
.deal-day{
    background-image: url(../img/icon.58c25cd4251a0c0cda5d9166a5b6c6d9.png);
    background-repeat: no-repeat;
}
.deal-more {
    display: block;
    width: 168px;
    height: 40px;
    margin: 15px auto 50px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    background: #22ac38;
    color: #fff;
}
.guazi-qa {
    height: 535px;
    background: #f8f8f8;
}
.qa-box {
    width: 1200px;
    margin: 0 auto;
}
.con-tit {
    padding: 33px 0 40px;
}
.con-tit p {
    font-size: 24px;
    line-height: 44px;
}
.con-tit h2, .con-tit p {
    color: #495056;
    text-align: center;
}
.con-tit i {
    display: block;
    width: 28px;
    height: 3px;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    background: #22ac38;
}
.qa-list li {
    width: 500px;
    height: 190px;
    float: left;
    margin: 0 60px 0 35px;
}
.qa-pic-1 {
    background-position: -130px -220px;
}
.qa-pic {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(../img/icon.58c25cd4251a0c0cda5d9166a5b6c6d9.png);
    background-repeat: no-repeat;
}

.guazi-qa .qa-box .qa-list li .qa-con {
    float: right;
    width: 425px;
    padding-top: 12px;
}
.guazi-qa .qa-box .qa-list li .qa-con .qa-t {
    position: relative;
    display: inline-block;
    line-height: 36px;
    padding: 0 15px;
    background: #ebebeb;
    border-radius: 3px;
    font-size: 16px;
    color: #495056;
}
.guazi-qa .qa-box .qa-list li .qa-con .qa-t i {
    position: absolute;
    top: 13px;
    left: -11px;
    display: block;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-right: 5px solid #ebebeb;
}
.guazi-qa .qa-box .qa-list li .qa-con .qa-txt {
    font-size: 14px;
    color: #a5abb2;
    padding-top: 10px;
    line-height: 30px;
}


.guazi-qa .qa-box .qa-list li .qa-pic.qa-pic-2 {
    background-position: -190px -220px;
}
.guazi-qa .qa-box .qa-list li .qa-pic.qa-pic-3 {
    background-position: -250px -220px;
}
.guazi-qa .qa-box .qa-list li .qa-pic.qa-pic-4 {
    background-position: -310px -220px;
}


