<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>二手车问答</title>
		
		<link rel="stylesheet" type="text/css" href="css/zhang_wenda.css" />
		
	</head>
	<body>
		<div id="header">

            <!-- 头部上部-->
            <div class="top">
                <div class="top_icon"></div>

                <!--地区选择下拉框-->
                <div class="city">
                    <select  class="form-control">
                        <option value="1">天津</option>
                        <option value="2">上海</option>
                        <option value="3">北京</option>
                        <option value="4">深圳</option>
                        <option value="4">广州</option>
                    </select>
                </div>

                <!--登录 -->
                <div class="uc">
                    <a href="Login.html">
                        <span>登录</span>
                    </a>
                </div>

                <!--热线电话-->
                <div class="hot-phone">
                    <i></i>
                    <span>400-023-1529</span>
                </div>

                <!--搜索框-->
                <div class="search-box">
                    <div class="search">
                        <input type="text" class="search-input" placeholder="搜索您想要的车"/>
                        <button class="search-btn" type="button">搜索</button>
                    </div>
                </div>

            </div>

            <!--头部导航栏-->
            <div class="nav">
                <div class="w">
                    <a class="fl" href="index.html" title="瓜子二手车">首页</a>
                    <a class="fl" href="PurchaseCar.html" title="天津个人二手车">我要买车</a>
                    <a class="fl" href="SellCar.html" title="天津二手车出售">我要卖车</a>
                    <a class="fl" href="ServerPro.html" title="瓜子二手车服务保障">服务保障</a>
                    <a class="fl hot-icon" href="CarPur.html" title="二手车分期付款">分期购车</a>
                    <a class="fr app-web" href="APPDown.html" title="瓜子二手车直卖网APP">APP下载</a>
                    <a class="fr" href="OldCarCon.html" title="瓜子二手车问答系统">二手车问答</a>
                </div>
            </div>
        </div>
		<div class="banimg">
			<div class="search">
				<input class="ipt-text" type="text" placeholder="查找问题"/>
				<button class="ipt-btn" type="button">搜索</button>
			</div>
			<div class="hot-question">
				<a href="">如何过户上牌？</a>
				<a href="">买什么车合适？</a>
				<a href="">瓜子质保包括什么？</a>
				<a href="">福克斯怎么样？</a>
				<a href="">异地怎么过户？</a>
			</div>
		</div>
		<div class="w hide1">
			<ul class="index-list">
				<li class="box-item bore4">
					<h3 class="buy-tit">买车卖车</h3>
					<ul class="list sale-list">
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">2013款Cayman的性价比怎么样？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">保时捷2013款Cayman可以收么？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">保时捷Panamera油耗怎么样？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">保时捷Panamera内部空间怎么样？</a>
						</li>
					</ul>
					<div class="extra">
						<a href="#" target="_blank">查看更多>></a>
					</div>
				</li>
				<li class="box-item bore4">
					<h3 class="sale-tit">交易过户</h3>
					<ul class="list sale-list">
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">在瓜子二手车平台上买一辆车有什么费用？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">异地可以看车吗？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">平台车辆的价格高，可以谈吗？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">买了车之后你们提供哪些保障？</a>
						</li>
					</ul>
					<div class="extra">
						<a href="#" target="_blank">查看更多>></a>
					</div>
				</li>
				<li class="box-item bore4">
					<h3 class="policy-tit">保养维修</h3>
					<ul class="list sale-list">
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">为什么说使用点燃式汽油发动 机的车辆和机械都可以使用车用乙醇汽油?</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">汽车排气噪音增加废气排放量增加超标怎么办？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">夏天空调怎么用更好？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">汽车的基本结构包括那些部分？</a>
						</li>
					</ul>
					<div class="extra">
						<a href="#" target="_blank">查看更多>></a>
					</div>
				</li>
				<li class="box-item bore4">
					<h3 class="loan-tit">金融贷款</h3>
					<ul class="list sale-list">
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">在瓜子二手车直卖网上买二手车可以办理贷款吗？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">最低多少价位的车可以申请贷款？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">在瓜子二手车直卖网上买二手车办理贷款需要做抵押吗？</a>
						</li>
						<li>
							<span class="icon-circle"></span>
							<a target="_blank" href="#">网站上的贷款利息会不会太高了？</a>
						</li>
					</ul>
					<div class="extra">
						<a href="#" target="_blank">查看更多>></a>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="footer"></div>
	</body>
</html>
