<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>我要买车</title>
        <link rel="stylesheet" href="css/h_SellCar.css">
        <link rel="stylesheet" href="css/h_public.css">
    </head>
    <body style="background-image: url(img/sell-bg.290289564e5360959be1857de09bf8c4.jpg);background-repeat: no-repeat;">
        <header class="head">
            <div class="nav">
                <div class="nav-1">
                </div>
                <div class="nav-2">
                    <span style="font-size: 14px;color: #888;">天津</span>
                    <span style="display: inline-block;width: 11px;height: 6px;background-image: url(img/m-4.png);background-position: -265px -35px;"></span>
                </div>
                <div class="phone">400-060-6046</div>
                <div class="login"><a href="Login.html" >登录</a></div>
                <div class="nav-nav">
                    <a href="index.html">首页</a>
                    <a href="PurchaseCar.html">我要买车</a>
                    <a href="SellCar.html"  class="action">我要卖车</a>
                    <a href="ServerPro.html">瓜子服务</a>
                    <a href="CarPur.html">瓜子金融</a>
                    <a href="BeanNewCar.html">毛豆新车</a>
                    <a href="OldCarCon.html">瓜子问答</a>
                </div>
                <span style="position:absolute;top:200px;left: 7px;font-size: 20px;"><</span>
                <span style="position:absolute;top:200px;right: 7px;font-size: 20px;">></span>
                <div class="nav-btn">
                    <em></em>
                    <em></em>
                    <em></em>
                </div>
        </header>
		<div class="main-con">
			<div class="sell-area">
		        <div class="slogan-1">个人卖给个人,无中间商赚差价</div>
		        <div class="slogan-2">买家少花钱，卖家最高多卖20%，平均7天售出</div>
		        <div class="phone-area js-phone1">
				    <input class="phone-input js-phone-input" placeholder="请输入手机号码，1702万名车主已提交">
				    <button class="phone-btn-1 js-phone-btn">免费卖车</button>
			    	<button class="phone-btn-2 js-subAssess" >快速估价</button>
			    	<p class="phone-error-2 js-phone-error"></p>
				</div>
				<div class="new-car-entr">
		            <a href="###" >首付10%，厂商直供，爆款新车开回家 去抢购 &gt;</a>
		        </div>
		    </div>
		    <ul class="sell-ser">
		        <li>
		            <i class="ser-icon">
		                <em class="icon-1-1"></em>
		                <em class="icon-1-2"></em>
		            </i>
		            <p><span>1.在线预约</span>评估师免费上门检测</p>
		        </li>
		        <li>
		            <i class="ser-icon">
		                <em class="icon-2-1"></em>
		            </i>
		            <p><span>2.全网代售</span>海量买家快速售出</p>
		        </li>
		        <li>
		            <i class="ser-icon ser-icon-3">
		                <em class="icon-3-1"></em>
		                <em class="icon-3-2"></em>
		            </i>
		            <p><span>3.三方约看</span>平均7日成交</p>
		        </li>
		        <li>
		            <i class="ser-icon ser-icon-4">
		                <em class="icon-4-1"></em>
		                <em class="icon-4-2"></em>
		            </i>
		            <p><span>4.签约过户</span>省心省时，全程陪同</p>
		        </li>
		    </ul>

		    <div class="recent-deal">
		        <div class="con-tit">
		            <h2>最新成交</h2>
		            <i></i>
		        </div>
		        <ul class="deal-list clearfix">
		            <div class="deal-list-wrapper clearfix" style="left: -;">
		                <li>
			                <img src="img/qn171026103824e1da9003fbad594239e68a550b082a99.jpg" alt="">
			                <h2 class="deal-p1">比亚迪F0 2009款 爱国版 1.0L 舒适型</h2>
			                <p class="deal-p2">2009年 | 4.9万公里 | 淄博</p>
			                <p class="deal-p3">成交价<em>8700元</em> 比车商多卖<i>2千元</i></p>
			                <div class="deal-day">1天<br><em>卖出</em></div>
		            	</li>
		            	<li>
			                <img src="img/qn171026103824e1da9003fbad594239e68a550b082a99.jpg" alt="">
			                <h2 class="deal-p1">比亚迪F0 2009款 爱国版 1.0L 舒适型</h2>
			                <p class="deal-p2">2009年 | 4.9万公里 | 淄博</p>
			                <p class="deal-p3">成交价<em>8700元</em> 比车商多卖<i>2千元</i></p>
			                <div class="deal-day">1天<br><em>卖出</em></div>
		            	</li>
		            	<li>
			                <img src="img/qn171026103824e1da9003fbad594239e68a550b082a99.jpg" alt="">
			                <h2 class="deal-p1">比亚迪F0 2009款 爱国版 1.0L 舒适型</h2>
			                <p class="deal-p2">2009年 | 4.9万公里 | 淄博</p>
			                <p class="deal-p3">成交价<em>8700元</em> 比车商多卖<i>2千元</i></p>
			                <div class="deal-day">1天<br><em>卖出</em></div>
		            	</li>
		            	<li>
			                <img src="img/qn171026103824e1da9003fbad594239e68a550b082a99.jpg" alt="">
			                <h2 class="deal-p1">比亚迪F0 2009款 爱国版 1.0L 舒适型</h2>
			                <p class="deal-p2">2009年 | 4.9万公里 | 淄博</p>
			                <p class="deal-p3">成交价<em>8700元</em> 比车商多卖<i>2千元</i></p>
			                <div class="deal-day">1天<br><em>卖出</em></div>
		            	</li>
		           </div>
		        </ul>
		        <a class="deal-more">查看全部成交车源</a>
		    </div>
		</div>
	<div class="guazi-qa">
	    <div class="qa-box">
	        <div class="con-tit">
	            <p>瓜子问答</p>
	            <i></i>
	        </div>
	        <ul class="qa-list clearfix">
	            <li>
	                <div class="qa-pic qa-pic-1"></div>
	                <div class="qa-con">
	                    <p class="qa-t">Q1：在瓜子卖车有什么优势？<i></i> </p>
	                    <p class="qa-txt">瓜子二手车直卖网是中国领先的二手车直卖平台，成交量遥遥领先。瓜子二手车撮合个人直接卖给个人，没有中间商赚差价，买家少花钱，卖家最高多卖20%，车辆平均7天售出，卖车流程安全省心可靠。</p>
	                </div>
	            </li>
	            <li>
	                <div class="qa-pic qa-pic-2"></div>
	                <div class="qa-con">
	                    <p class="qa-t">Q2：卖车流程是怎样的？<i></i> </p>
	                    <p class="qa-txt">1、在本页填写卖车信息或拨打400-060-6046联系我们。<br>
	                        2、接受评估师专业的上门质检，定出售价。<br>
	                        3、交易专员带领买家上门看车。<br>
	                        4、达成交易协议，瓜子二手车直卖网帮你办过户。<br></p>
	                </div>
	            </li>
	            <li>
	                <div class="qa-pic qa-pic-3"></div>
	                <div class="qa-con">
	                    <p class="qa-t">Q3：卖车需要准备什么？<i></i> </p>
	                    <p class="qa-txt">1、身份证；2、环保标；3、购置税本；4、行驶证；5、检字标；6、购置税发票；7、车辆登记证；8、交强险标；9、购车发票/最近一次过户发票；10、交强险单。</p>
	                </div>
	            </li>
	            <li>
	                <div class="qa-pic qa-pic-4"></div>
	                <div class="qa-con">
	                    <p class="qa-t">Q4：大概多久能成交？<i></i> </p>
	                    <p class="qa-txt">大部分车辆在瓜子二手车直卖网上上架7天内就可成交。</p>
	                </div>
	            </li>
	        </ul>
	    </div>
	</div>
	<div class="footer">
            <!--加载footer 信息部分 -->
            <div class="company-info clearfix">
                <div class="footer-logo"></div>
                <div class="phone-email">
                    <p>
                        咨询电话：<i>400-060-6046</i> <br>
                        <span>（周一至周日 8:00-21:00）</span>
                    </p>
                    <p>
                        售后服务专线：<i>400-066-8780</i> <br>
                        <span>（周一至周日 9:00-21:00）</span>
                    </p>
                </div>
                <img src="img/ewm-wx-2.png" alt="" class="gz-ewm">
                <p class="ewm-tit">关注微信</p>
                <img src="img/ewm-app-2.png" alt="" class="gz-ewm">
                <p class="ewm-tit">下载APP</p>
                <div class="basic-info">
                    <div class="info-link">
                        <a rel="nofollow" href="###aboutus/" target="_blank">关于瓜子</a>
                        <a rel="nofollow" href="###"  target="_blank">加入我们</a>
                        <a rel="nofollow" href="###" target="_blank">联系我们</a>
                        <a rel="nofollow" href="###" target="_blank">服务保障</a>
                    </div>
                    <p class="arc-info">Copyright 2017 www.guazi.com All Rights Reserved</p>
                    <p class="arc-info">京ICP备15053955号  ICP证151071号 </p>
                    <div class="protect clearfix">
                        <a class="police" rel="nofollow" target="_blank" href="#">京公网安备11010802020161号</a>
                    </div>
                    <div class="protect protect-icon-xin315 clearfix">
                        <a href="#" class="icon-xin" target="_blank"></a>
                        <a  href="#" class="icon-315" target="_blank"></a>
                    </div>
                </div>
            </div>
            <!--seo 链接 -->

            <div class="friendly-link">
                <p class="link-tit">热门品牌：</p>
                <span class="open-box"></span>
                <span class="close-box" data-role="is_show_box"></span>
                <a href="###" target="_blank">天津二手大众</a>
                <a href="###" target="_blank">天津二手丰田</a>
                <a href="###" target="_blank">天津二手福特</a>
                <a href="##" target="_blank">天津二手奔驰</a>
                <a href="###" target="_blank">天津二手宝马</a>
                <a href="###" target="_blank">天津二手奥迪</a>
                <a href="###" target="_blank">天津二手别克</a>
                <a href="###" target="_blank">天津二手现代</a>
                <a href="###" target="_blank">天津二手日产</a>
                <a href="###" target="_blank">天津二手起亚</a>
                <a href="###" target="_blank">天津二手比亚迪</a>
                <a href="###" target="_blank">天津二手标致</a>
                <a href="###" target="_blank">天津二手本田</a>
                <a href="###" target="_blank">天津二手雪佛兰</a>
                <a href="###" target="_blank">天津二手雪铁龙</a>
                <a href="###" target="_blank">天津二手哈弗</a>
                <a href="###" target="_blank">天津二手吉利</a>
                <a href="###" target="_blank">天津二手夏利</a>
                <a href="###" target="_blank">天津二手长安</a>
                <a href="###" target="_blank">天津二手一汽</a>
                <a href="###" target="_blank">天津二手奇瑞</a>
                <a href="###" target="_blank">天津二手长城</a>
                <a href="###" target="_blank">天津二手五菱</a>
                <a href="###" target="_blank">天津二手路虎</a>
                <a href="###" target="_blank">天津二手马自达</a>
                <a href="###" target="_blank">天津二手斯柯达</a>
                <a href="###" target="_blank">天津二手江淮</a>
                <a href="###" target="_blank">天津二手保时捷</a>
                <a href="###" target="_blank">天津二手MINI</a>
                <a href="###" target="_blank">天津二手众泰</a>
                <a href="###" target="_blank">天津二手海马</a>
                <a href="###" target="_blank">天津二手传祺</a>
                <a href="###" target="_blank">天津二手铃木</a>
                <a href="###" target="_blank">天津二手MG</a>
                <a href="###" target="_blank">天津二手沃尔沃</a>
            </div>
            <div class="friendly-link">
                <p class="link-tit">热门车系：</p>
                <span class="open-box"></span>
                <span class="close-box" data-role="is_show_box"></span>
                <a href="###" target="_blank">天津二手大众速腾</a>
                <a href="###" target="_blank">天津二手大众宝来</a>
                <a href="###" target="_blank">天津二手大众迈腾</a>
                <a href="### " target="_blank">天津二手大众朗逸</a>
                <a href="### " target="_blank">天津二手大众高尔夫</a>
                <a href="### " target="_blank">天津二手大众途观</a>
                <a href="### - " target="_blank">天津二手大众大众PO...</a>
                <a href="### " target="_blank">天津二手大众捷达</a>
                <a href="### - " target="_blank">天津二手福特福克斯</a>
                <a href="### " target="_blank">天津二手哈弗哈弗H6</a>
                <a href="### " target="_blank">天津二手丰田卡罗拉</a>
                <a href="###  " target="_blank">天津二手丰田普拉多</a>
                <a href="### " target="_blank">天津二手丰田威驰</a>
                <a href="### " target="_blank">天津二手丰田凯美瑞</a>
                <a href="#####" target="_blank">天津二手夏利夏利</a>
                <a href="###" target="_blank">天津二手宝马宝马3系</a>
                <a href="####" target="_blank">天津二手宝马宝马5系</a>
                <a href="###" target="_blank">天津二手奥迪奥迪A6...</a>
                <a href="###" target="_blank">天津二手奥迪奥迪A4...</a>
                <a href="###" target="_blank">天津二手奥迪奥迪Q5</a>
                <a href="###" target="_blank">天津二手别克凯越</a>
                <a href="#####" target="_blank">天津二手别克君威</a>
                <a href="####" target="_blank">天津二手别克君越</a>
                <a href="#####" target="_blank">天津二手雪铁龙世嘉</a>
                <a href="####" target="_blank">天津二手雪佛兰科鲁兹</a>
                <a href="####" target="_blank">天津二手雪佛兰赛欧</a>
                <a href="####" target="_blank">天津二手奔驰奔驰C级</a>
                <a href="####" target="_blank">天津二手奔驰奔驰E级</a>
                <a href="####" target="_blank">天津二手日产轩逸</a>
                <a href="####" target="_blank">天津二手日产天籁</a>
                <a href="####" target="_blank">天津二手标致标致20...</a>
                <a href="####" target="_blank">天津二手比亚迪秦</a>
                <a href="####" target="_blank">天津二手本田本田CR...</a>
                <a href="###" target="_blank">天津二手起亚智跑</a>
                <a href="####" target="_blank">天津二手现代现代ix...</a>
            </div>
            <div class="friendly-link">
                <p class="link-tit">友情链接：</p>
                <span class="open-box"></span>
                <span class="close-box" data-role="is_show_box"></span>
                <a href="###">天津厂房出租</a>
                <a href="###">天津学车</a>
                <a href="###">天津二手车</a>
                <a href="###">天津百姓网</a>
                <a href="###">天津天气预报15天</a>
                <a href="###">天津信息网</a>
                <a href="###">天津二手车</a>
                <a href="###">天津车市</a>
                <a href="###">天津二手车</a>
                <a href="###">天津房产网</a>
                <a href="###">天津建材网</a>
                <a href="###">天津二手车</a>
                <a href="###">天津车展</a>
                <a href="###">天津汽车网</a>
                <a href="###">天津二手车</a>
                <a href="###">天津汽车网</a>
                <a href="###">天津汽车陪练</a>
                <a href="###">天津信息港</a>
                <a href="###">搜狐汽车天津站</a>
                <a href="###">天津二手车</a>
                <a href="###">天津二手设备回收</a>
                <a href="###">天津二手车</a>
                <a href="###">天津地图</a>
                <a href="###">天津汽车网</a>
                <a href="###">天津分类信息</a>
                <a href="###">天津汽车票</a>
                <a href="###">高速路况查询</a>
            </div>

            <div class="friendly-link">
                <p class="link-tit">热门城市：</p>
                <span class="open-box"></span>
                <span class="close-box" data-role="is_show_box"></span>
                <a href="##">全国二手车</a>
                <a href="##">郑州二手车</a>
                <a href="##">上海二手车</a>
                <a href="##">沈阳二手车</a>
                <a href="##">昆明二手车</a>
                <a href="##">北京二手车</a>
                <a href="##">南宁二手车</a>
                <a href="##">长春二手车</a>
                <a href="##">成都二手车</a>
                <a href="###">天津二手车</a>
                <a href="##">广州二手车</a>
                <a href="##">重庆二手车</a>
                <a href="##">东莞二手车</a>
                <a href="##">大连二手车</a>
                <a href="##">石家庄二手车</a>
                <a href="##">杭州二手车</a>
                <a href="##">兰州二手车</a>
                <a href="##">青岛二手车</a>
                <a href="##">西安二手车</a>
                <a href="##">宁波二手车</a>
                <a href="##">济南二手车</a>
                <a href="##">深圳二手车</a>
                <a href="##">贵阳二手车</a>
                <a href="##">唐山二手车</a>
                <a href="##">哈尔滨二手车</a>
                <a href="##">苏州二手车</a>
                <a href="##">武汉二手车</a>
                <a href="##">佛山二手车</a>
                <a href="##">福州二手车</a>
                <a href="##">南京二手车</a>
                <a href="#">长沙二手车</a>
                <a href="#">二手车</a>
            </div>



            <div class="friendly-link">
                <p class="link-tit">移动版：</p>
                <a href="###">瓜子二手车天津移动页</a>
            </div>

            <div class="friendly-link">
                <p class="link-tit">热门页面：</p>
                <span class="open-box"></span>
                <span class="close-box" data-role="is_show_box"></span>
                <a href="#">1万元二手车</a>
                <a href="#">2万左右二手车</a>
                <a href="#">3万的二手车</a>
                <a href="#">4万的二手车</a>
                <a href="#">5万以下二手车</a>
                <a href="#">二手越野车</a>
                <a href="#">二手商务车</a>
                <a href="#">二手跑车</a>
                <a href="#">自动挡二手车</a>
                <a href="#">急卖二手车</a>
                <a href="#">低价出售二手车</a>
                <a href="#">二手车评估</a>
                <a href="#">二手车分期付款</a>
                <a href="#">二手豪华车</a>
                <a href="#">二手柴油越野车</a>
                <a href="#">7座二手车</a>
                <a href="#">便宜二手奥迪</a>
                <a href="#">柴油二手车</a>
                <a href="#">二手电动汽车</a>
                <a href="#">最新二手车</a>
                <a href="#">买卖二手车</a>
                <a href="#">二手七座商务车</a>
                <a href="#">全国二手车</a>
                <a href="#">天津二手车交易网</a>
                <a href="#">网站地图</a>
            </div>


            <!--公司信息-->
            <p style="text-align:center;line-height:20px;font-size:12px;color:#666; padding-top:20px;">
                车好多旧机动车经纪（北京）有限公司   
                北京市丰台区南四环中路260号北京新发地汽车交易市场旧车经营区B区178号   
                010-57317000
            </p>
        </div>
</body>
<style>
a:hover{
	color:blue;
}
<style>
</html>